/* CSS Document */

body {
	background-color: #000000;  
	margin: 0;
}
header {
	background-color: lightgoldenrodyellow; 
	padding: 1px; 
	text-align: left;
	} 
nav {
	text-align: center;
	margin: 15px; 
	font-size: 18px;
    font-family: 'Merriweather', serif; 
	font-weight: bold;
}
a {	
	color: black; 
	text-decoration: none
	}
nav a {
	color: #39362D; 
	border: 0 px #fff solid; 
	margin: 30px; 
	padding: 4px
	}
nav a:hover {
	color: #7F8F4E; 
	border: 0px #fff solid; 
	margin: 30px; 
	padding: 4px
}
.imgLogo {
	width: 200px
}
.banner {
	width: 100%; 
	margin-bottom: 15px; 
	opacity: 0.5;  
} 
.banner-sobre-nos {
	width: 100%; 
	margin-bottom: 15px; 
	opacity: 0.5;
	height: 610px; 
}
.banner-pq-plantamos {
	width: 100%; 
	margin-bottom: 15px; 
	opacity: 0.5;
	height: 610px; 
}
.banner-forma-parte {
	width: 100%; 
	margin-bottom: 15px; 
	opacity: 0.5;
	height: 610px; 
}
.banner-dona {
	width: 100%; 
	margin-bottom: 15px; 
	opacity: 0.5;
	height: 610px; 
}
.divLogo {
    width: 100%; 
    height: 100px;
	background-color: lightgoldenrodyellow; 
	float: center;
	margin-top: 0px;
	margin-bottom: 80px;
	text-align: center;
	padding: 0px;
	
}

   
.parent{
  display: flex;
  flex-flow: wrap;
  margin-left: 30px;
  margin-right: 30px;
}
.parent img {
  background-color: lightgoldenrodyellow;
  width: 50%;
  height: 350px; 
} 
.parent .texto {
  border: 0px solid white;
  background-color: lightgoldenrodyellow;
  width: 50%;
  margin-top: opx;
  color: black;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Merriweather', serif;  
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
	
} 
.contenedor-sobre-nos{
    position: relative;
    display: inline-block;
    text-align: center;
	width: 100%; 
}
.contenedor-pq-plantamos{
    position: relative;
    display: inline-block;
    text-align: center;
	width: 100%; 
}
.contenedor-forma-parte{
    position: relative;
    display: inline-block;
    text-align: center;
	width: 100%; 
}
.contenedor-dona{
    position: relative;
    display: inline-block;
    text-align: center;
	width: 100%; 
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: 'Bebas Neue', cursive;
	color: lightgoldenrodyellow;
	font-size: 40px;
	
}
.arbolesdonados{
	text-align: center;
	font-size: 20px;
	font-family: 'Merriweather', serif;
	margin-bottom: 50px;
	color: lightgoldenrodyellow  
	} 
.footer {
	text-align: center;
	font-size: 20px;
	font-family: 'Merriweather', serif;
	margin-top: 50px;
	margin-bottom: 50px;
	color: lightgoldenrodyellow 
} 

@media(max-width:480px){
	.parent .texto {
	border: 0px solid white;
	background-color: lightgoldenrodyellow; 
	width:100%;
	margin-top:0px;
	color:black;
	text-align: center;
	padding: 40px;
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'Merriweather', serif;
	}

	.parent img{
		
    background-color: lightgoldenrodyellow;
	width:100%;
	height: 350px;
		
}


	.banner {
	width: 100%; 
	margin-bottom: 15px; 
	opacity: 0.5;  
	}
	.centrado {¨font
		}



	